:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  color: #000;
}

p{
  font-size: 1em;
}

::selection {
  color: white;
  background-color: #fd9e03;
}

.btn{
  background-color: #cf0200 !important;
  border-color: #cf0200 !important;
}

.btn:hover{
  background-color: #ee4b49 !important;
  border-color: #ee4b49 !important;
}
